<div class="container">
  <br>
  <div class="detail-item justify-content-center">
    <div class="col-12 col-md-8" *ngIf="product !== undefined">
      <div class="card">
        <div class="row">
          <div class="cart">
          <img src="{{product.image}}" class="img-fluid rounded-start" alt="{{product.name}}"
          style="max-height: 380px; object-fit: cover; width: 100%;">
          </div>
          <div class="col">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">$ {{product.price}}</h6>
            <p class="card-text">
            {{product.description}}
            </p>
            <p class="card-text">
              {{product.richDescription}}
              <br>
              Brand: {{product.brand}}
              </p>
            </div>
            <div class="card-body">
            <select class="form-select" [(ngModel)]="quantity">
            <option *ngFor="let quantity of quantities" [value]="quantity">{{quantity}}</option>
            </select>
            </div>
              <div class="card-body text-end">
                <button (click)="addItem(product)" class="btn btn-primary">Add to cart</button>
              <div class="card-body">
              <a class="link-secondary" routerLink="/">Back to home</a>
        </div>
      </div>
    </div>
  </div>
</div>


