<div class="fadein">
  <h2 class="page-header">Login</h2>
  <div class="alert alert-danger" *ngIf="" role="alert"></div>
  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
      <div class="form-group">
        <label for="email">email
            <sup class="red">*</sup>
        </label>
        <input required name="email" id="email" #email="ngModel" ngModel type="email" class="form-control">
    </div>
      <div class="form-group">
          <label for="password">Password
              <sup class="red">*</sup>
          </label>
          <input required name="password" id="password" #password="ngModel" ngModel type="password" class="form-control">
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Login" [disabled]="!loginForm.valid">
  </form>
</div>
