<div class="container">
  <div class="row g-5 justify-content-center">
      <div class="col-12 col-md-8">
          <div class="card border-success mb-3">
              <div class="card-header">Success!</div>
              <div class="card-body">
                  <h5 class="card-title">Thank you <b>{{fullName}}</b></h5>
                  <p class="card-text">Your <b>${{totalPrice}}</b> order confirmed</p>
                  <p>Please allow 1-3 business day(s) for shipping</p>
                  <a routerLink='/'>Back to home</a>
              </div>
          </div>
      </div>
  </div>
</div>
